

@font-face {
    font-family: 'FedraSansAltMed';
    src: url(../fonts/fedra/FedraSansAltStd-Medium.ttf);
  }


  @font-face {
    font-family: 'FedraSansAltBook';
    src: url(../fonts/fedra/FedraSansAltStd-Book.ttf);
  }

  @font-face {
    font-family: 'MarkProRegular';
    src: url(../fonts/FFMarkPro/FontFontMarkPro.otf);
  }


  /* fonts/FF Mark Pro/FontFont - Mark Pro.otf */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'FedraSansAltMed';

}



body.onderzoeken {
    background-image: url("/img/NA-onderzoeken-nieuw.png");
    background-size: contain;
    height: 170vh;
    width: 100vw;
    background-repeat: no-repeat;
    overflow: scroll;
}

/* body.onderzoeken div.container {
    height: 175px;
    width: 400px;
    background-color: #e17000;
    position: absolute;
    top: 62%;
    left: 67%;
} */

div.info {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;  */
}


div.container {
    /* margin-right: 5%; */
    background-color: #ffffff;
    margin-top: 50%
    height: 175px;
    width: 400px;
    padding: 2%;
     /* max-width: 30%;  */
     position: absolute;
     top: 62%;
     left: 67%;
}

section.public {
    background-color: #e17000;
    padding: 5%;
    max-width: 30%;
 
}

div.container h2, section.public h2 {
    font-size: 2vw;
}
div.container h2, div.container h3,div.container p , section.public h2, section.public h3{
    color: #4b4646;
}

hr.solid {
    margin-top: 5%;
    border-top: 1px solid #4b4646;
    text-decoration: none;
  }

  progress[value] {
    appearance: none;
    margin-top: 2%;
    width: 100%;
    height: 20px;
    color: #01689b;
  }

  progress::-webkit-progress-bar {
    background-color: #EFEFEA;
}
progress::-webkit-progress-value {
    background-color: #01689b;
    
}

g.x-axis > path {
    d: path('M0,1V0H280V1');
}

g.y-axis > path {
    d: path('M-1,0H0V140H-1');
}



g.x-axis g.tick {
    transform: translate(2,0) !important;
}


g.x-axis g.tick > text {
    font-family: 'FedraSansAltBook';
    font-size: 10px;  
    transform: rotate(320deg); 
    text-anchor: end !important;
}

g.y-axis g.tick > text {
    font-family: 'FedraSansAltBook';
    font-size: 10px;  
}
 
p {
    font-size: 17px;
    font-family: 'MarkProRegular';
    font-size: 12px;
}

h3.percent {
    font-size: 30px;
}
