

@font-face {
    font-family: 'FedraSansAltMed';
    src: url(../fonts/fedra/FedraSansAltStd-Medium.ttf);
  }


  @font-face {
    font-family: 'FedraSansAltBook';
    src: url(../fonts/fedra/FedraSansAltStd-Book.ttf);
  }

  @font-face {
    font-family: 'MarkProRegular';
    src: url(../fonts/FFMarkPro/FontFontMarkPro.otf);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'FedraSansAltMed';

}

a {
    text-decoration: none;
}

body.onderzoeken {
    background-image: url("../img/NA-onderzoeken-nieuw.png");
    background-size: contain;
    height: 170vh;
    width: 100vw;
    background-repeat: no-repeat;
    overflow: scroll;
}

body.resultaat {
    background-image: url("../img/NA-resultaat-nieuw.png");
    background-size: cover;
    height: 170vh;
    width: 100vw;
    background-repeat: no-repeat;
    overflow: scroll;
}

body.serie {
    background-image: url("../img/NA-serie-nieuw.png");
    background-size: cover;
    height: 170vh;
    width: 100vw;
    background-repeat: no-repeat;
    overflow: scroll;
}

body.serie > div#visualization {
    position: absolute;
    top: 380px;
    left: 800px;
}

body.serie > div.container-public {
    position: absolute;
    top: -200px;
    left: 830px;
}

div.info {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;  */
}


div.container {
    /* margin-right: 5%; */
    background-color: #ffffff;
    margin-top: 27%;
    height: 260px;
    width: 400px;
    padding: 2%;
     /* max-width: 30%;  */
     position: absolute;
     top: 380px;
     left: 865px;
}

div.container-public {
   /* background-color: #ffffff;  */
    margin-top: 35%;
    height: 260px;
    width: 400px;
    padding: 2%;
    position: absolute;
}


div.container h2 {
font-size: 16px;
padding-bottom: 8px;
}

 section.public h2 {
    font-size: 2vw;
}
div.container h2, div.container h3,div.container p , section.public h2, section.public h3{
    color: #4b4646;
}

hr.solid {
    margin-top: 5%;
    border-top: 0.1px solid #4b4646;
    text-decoration: none;
  }

  progress[value] {
    appearance: none;
    margin-top: 2%;
    width: 100%;
    height: 10px;
    color: #01689b;
  }

  progress::-webkit-progress-bar {
    background-color: #EFEFEA;
}
progress::-webkit-progress-value {
    background-color: #01689b;
    
}

g.x-axis > path {
    d: path('M0,1V0H330V1');
}

g.y-axis > path {
    d: path('M-1,0H0V140H-1');
}



g.x-axis g.tick {
    transform: translate(2,0) !important;
}


g.x-axis g.tick > text {
    font-family: 'FedraSansAltBook';
    font-size: 10px;  
    transform: rotate(320deg); 
    text-anchor: end !important;
}

g.y-axis g.tick > text {
    font-family: 'FedraSansAltBook';
    font-size: 10px;  
}
 
p {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'MarkProRegular';
}

div.container h3.percent {
    padding-top: 10%;
    font-weight: 600;
    font-size: 40px;
    color:#01689b;
}

a {
    color: black;
}
